body {
    font-family: Glober, Roboto;
    font-size: 20px;
}

.bold {
    font-weight: bold;
}
.introducing {
    background-image: url("../images/green.png");
    background-position: center;
    background-color: black;
    color: white;
    text-align: center;
}